body{
  background: url(../src/asset/imgs/vecteezy_web-layout-programming-language_.jpg);
  background-size: 90%;
  background-position:center top;
}
.App{
  background:rgba(0,0,0,.4);
  height:100vh;
}